h1{
    width: 100%;
    height: 50px;
    background-color: rgb(221, 26, 117);
    margin: 0;
    text-align: center;
}
body{
    margin: 0;
    background-color: lightgoldenrodyellow
}
.content{
    height: 1070px;
    width: 100%;
}
.left{
    width: 30%;
    height: 500px;
    float: left;
}
.right{
    width: 70%;
    height: 950px;
    float: right;
  
}
.me{
    padding: 0%;
    height: 100%;
}

.logo{
width: 50px;
height: 40px;
float: right;
}

footer{
    width: 100%;
    height: 50px;
    background-color: rgb(221, 26, 117);
}
a{
    color: #000;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    margin: 0;
}
p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.list{
    display: flex;
    list-style: none;
 }
 .lis{
    padding: 15px;
 }
 .menu{
    background-color: rgb(255, 156, 205);
 }